/*Reset*/
body, h3, p{
    padding: 0px;
    margin: 0px;
}

/*Fonte/Fundo do site*/
body{
    font-family: Georgia, serif;
    background: #21182d;
    color: aliceblue;
}

/*Cabeçalho*/
.cabecalho{
    background: #1e0f24;
    padding: 30px 0;
}

.quadbox-conteiner{
    max-width: 1360px; 
    margin: 5px auto 0px auto;
}

/*Arruma um "bug" do cabeçalho quando aplica o float*/
.quadbox-conteiner::after, .quadbox-conteiner::before{
    content: '';
    display: table;
    clear: both;
}

.quadbox-logo{
    display: block;
    float: left;
}


/*PERGUNTAS FREQUENTES centralizado*/
.intro{
    padding: 100px 0;
    text-align: center;
}

/*Deixa o fonte em  maiusculo*/
.intro h1{
    text-transform: uppercase;
}


/*PRODUTOS*/
.faq1{
    padding: 50px 0;
    text-align: center;
}

.faq1 h1{
    margin: 50px auto;
}

.faq1 p{
    margin: 20px auto 100px auto;
    line-height: 1.5em;
    max-width: 500px;
}


/*COMO COMPRAR*/
.faq2 {
    padding: 50px 0;
    text-align: center;
}

.faq2 h1{
    margin: 50px auto;
}

.faq2 p{
    margin: 20px auto 100px auto;
    line-height: 1.5em;
    max-width: 500px;
}


/*CADASTRO DE CLIENTE*/
.faq3{
    padding: 50px 0;
    text-align: center;
}

.faq3 h1{
    margin: 50px auto;
}

.faq3 p{
    margin: 20px auto 100px auto;
    line-height: 1.5em;
    max-width: 500px;
}

/*PEDIDOS*/
.faq4{
    padding: 50px 0;
    text-align: center;
}

.faq4 h1{
    margin: 50px auto;
}

.faq4 p{
    margin: 20px auto 100px auto;
    line-height: 1.5em;
    max-width: 500px;
}

/*SENHA*/
.faq5{
    padding: 50px 0;
    text-align: center;
}

.faq5 h1{
    margin: 50px auto;
}

.faq5 p{
    margin: 20px auto 100px auto;
    line-height: 1.5em;
    max-width: 500px;
}

.linkSenha{
    color: darksalmon;
}

.rodape{
    background: #1e0f24;
    padding: 45px 0;
}














